<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>all.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>dsotest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>file.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>framebuffer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>gui.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>openexr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>parsers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>pixiecommon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>precomp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>rgbe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ri.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>rndr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>sdr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>sdrc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>sdrinfo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>show.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>texmake.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1F134DC60D041F6300A46197</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F134E190D0426FD00A46197</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F1DEC320D0448C200338FF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C96A6E280AD6D5E5003C2D7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C96A6E570AD6D73A003C2D7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C96A6E5C0AD6D746003C2D7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C96A6EC10AD6E08A003C2D7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C96A6EC60AD6E096003C2D7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C96A6EE10AD6E0F6003C2D7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C983E6C10AF2E8FB00648461</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C983E6D10AF2E9C900648461</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C983E6EC0AF2E9FE00648461</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C983E6F50AF2EA3400648461</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C983E6FE0AF2EA8400648461</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C98988F90AF1B953003DB17A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9E09AD00AD9B42300A33716</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9E09B410AD9BEBE00A33716</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
